<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand fw-bold" href="/">João Almeida</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><%= link_to "Início", root_path, class: "nav-link #{'active fw-bold' if current_page?(root_path)}" %></li>
          <li class="nav-item"><%= link_to "Portfólio", portfolio_path, class: "nav-link #{'active fw-bold' if current_page?(portfolio_path)}" %></li>
          <li class="nav-item"><%= link_to "Sobre", about_path, class: "nav-link #{'active fw-bold' if current_page?(about_path)}" %></li>
          <li class="nav-item"><%= link_to "Contato", contact_path, class: "nav-link #{'active fw-bold' if current_page?(contact_path)}" %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>